<table id="<%= lane %>" >
  <caption class="caption"><%= lane %></caption>
  <thead>
  <tr>
    <th>Key Used for Flash</th>
    <th>Games</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Win %</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="d">D</td>
    <td class="d dGamesOverall">0</td>
    <td class="d dWinsOverall">0</td>
    <td class="d dLossesOverall">0</td>
    <td class="d dPercentOverall">0.00</td>
  </tr>
  <tr>
    <td class="f">F</td>
    <td class="f fGamesOverall">0</td>
    <td class="f fWinsOverall">0</td>
    <td class="f fLossesOverall">0</td>
    <td class="f fPercentOverall">0.00</td>
  </tr>
  <tr>
    <td class="n">No Flash</td>
    <td class="n nGamesOverall">0</td>
    <td class="n nWinsOverall">0</td>
    <td class="n nLossesOverall">0</td>
    <td class="n nPercentOverall">0.00</td>
  </tr>
  </tbody>
</table>
