<table id="<%= lane %>" >
  <caption class="caption"><%= lane %></caption>
  <thead>
  <tr>
    <th>Key Used for Flash</th>
    <th>Games</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Win %</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>D</td>
    <td class="dGamesOverall">0</td>
    <td class="dWinsOverall">0</td>
    <td class="dLossesOverall">0</td>
    <td class="dPercentOverall">0</td>
  </tr>
  <tr>
    <td>F</td>
    <td class="fGamesOverall">0</td>
    <td class="fWinsOverall">0</td>
    <td class="fLossesOverall">0</td>
    <td class="fPercentOverall">0</td>
  </tr>
  <tr>
    <td>No Flash</td>
    <td class="nGamesOverall">0</td>
    <td class="nWinsOverall">0</td>
    <td class="nLossesOverall">0</td>
    <td class="nPercentOverall">0</td>
  </tr>
  </tbody>
</table>
