<div id="jumbo">
	<div id="picture">
		<h1>Welcome to D or F?</h1>
	</div>
</div>

<br /> <br />

<div class="row">
	<div class="small-9 small-centered columns">This website is designed to show you which player is superior. The summoner who uses D for flash or the summoner who uses F for flash.</div>
</div>

<br /> <br/>

<%= image_tag("/assets/images/D_OR_F.png", :id=>"twokinds", :alt => "alt") %>

<!-- add all the chapmpions with their pictures -->
<div class="row">
	<div id="champs">
		<% arr = [1, 2, 3, 4, 5, 6] %>
		<% arr.each do |champion| %>
		<span class="champ" width="25%">
			<a href="#" width="100%">
				<img src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" width="25%"/>
				
			</a>
			<a href="#" width="100%">
				<%= champion %>
			</a>
		</span>
		<% end %>
	</div>
</div>