<h1>Overall Rift Results</h1>

<br />

<div class="row">
  <%= image_tag("/assets/images/summoners_rift.png", :class=>"rift") %>
</div>

<br /><br />

<div class="row">
	<h4 class="overallDescription">This represents an accumulation of all the champions on the rift that were played during the Black Market event</h4>
</div>

<br /><br />

<div class="row" id="checkDiv">
  <span class="check">
    <input type="checkbox" name="rank" value="unranked" onchange="getCheckedCheckboxesFor('callback');">
    <label for="rank">Unranked</label>
  </span>
  <span class="check">
    <input type="checkbox" name="rank" value="bronze" onchange="getCheckedCheckboxesFor('callback');">
    <label for="rank">Bronze</label>
  </span>
  <span class="check">
    <input type="checkbox" name="rank" value="silver" onchange="getCheckedCheckboxesFor('callback');">
    <label for="rank">Silver</label>
  </span>
  <span class="check">
    <input type="checkbox" name="rank" value="gold" onchange="getCheckedCheckboxesFor('callback');">
    <label for="rank">Gold</label>
  </span>
  <span class="check">
    <input type="checkbox" name="rank" value="platinum" onchange="getCheckedCheckboxesFor('callback');">
    <label for="rank">Platinum</label>
  </span>
  <span class="check">
    <input type="checkbox" name="rank" value="diamond" onchange="getCheckedCheckboxesFor('callback');">
    <label for="rank">Diamond</label>
  </span>
  <span class="check">
    <input type="checkbox" name="rank" value="master" onchange="getCheckedCheckboxesFor('callback');">
    <label for="rank">Master</label>
  </span>
  <span class="check">
    <input type="checkbox" name="rank" value="challenger" onchange="getCheckedCheckboxesFor('callback');">
    <label for="rank">Challenger</label>
  </span>
  <span class="check">
    <input id="allRanksCheckbox" type="checkbox" name="all" value="all" onchange="checkedAll();">
    <label for="all">All Ranks</label>
  </span>
</div>

<div class='row' id="overallWrapper">
  <div class="chartWrapper" style="display: inline-block">
    <h3>Wins by Lane</h3>
    <div id="chart1Holder">
      <canvas id="chart"></canvas>
      <h4 class="disposable">No Data</h4>
    </div>
  </div>
  <div class="chartWrapper" style="display: inline-block">
    <h3>Losses by Lane</h3>
    <div id="chart2Holder">
      <canvas id="chart2"></canvas>
      <h4 class="disposable">No Data</h4>
    </div>
  </div>
</div>

<div class='row'>
  <table style="width: 100%;">
    <tr>
      <td>
        <div class="tableWrapper">
        </div>
      </td>
      <td>
        <div class="tableWrapper">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="tableWrapper">
        </div>
      </td>
      <td>
        <div class="tableWrapper">
        </div>
      </td>
    </tr>
  </table>
</div>
