<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<%= form_tag("/search", method: "post") do %>
  <%= submit_tag("Start Polling") %>
<% end %>

<%= form_tag("/search", method: "post") do %>
  <%= submit_tag("Polling Stop") %>
<% end %>
<% 5 %>