<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>

<%= form_tag do %>
  <%= submit_tag("#{@start_stop_string} Polling") %>
<% end %>
<h2>index = <%= @index %></h2>
<h2>db is clean: <%= @is_db_clean %></h2>
