<!DOCTYPE html>
<html lang="en">
  	<head>
    	<meta charset="utf-8" />
    	<title>Results</title>
  	</head>
  	<body>
		

		<h1>Results#show</h1>
		<p>Find me in app/views/results/show.html.erb</p>
		<div>Graph shit  http://www.chartjs.org/</div>

		<canvas id="chart" width="600"></canvas>

		<table style="margin-left: auto; margin-right: auto;">
			<caption>I'm Diamond in League</caption>
		  	<thead>
		    	<tr>
		      		<th width="150">Key Used for Flash</th>
		      		<th width="150">Games</th>
		      		<th width="150">Wins</th>
		      		<th width="150">Losses</th>
		      		<th width="150">Win Percentage</th>
		    	</tr>
		  	</thead>
		  	<tbody>
		    	<tr>
		     		<td>D</td>
		      		<td>Content Goes Here</td>
		      		<td>Content Goes Here</td>
		      		<td>Content Goes Here</td>
		      		<td>Content Goes Here</td>
		    	</tr>
		    	<tr>
		      		<td>F</td>
		      		<td>Content Goes Here</td>
		      		<td>Content Goes Here</td>
		      		<td>Content Goes Here</td>
		      		<td>Content Goes Here</td>
		    	</tr>
		    	<tr>
		      		<td>No Flash</td>
		      		<td>Content Goes Here</td>
		      		<td>Content Goes Here</td>
		      		<td>Content Goes Here</td>
		      		<td>Content Goes Here</td>
		    	</tr>
		  	</tbody>
		</table>
	</body>
</html>