<div class="row center-text">
  <h1>Thank you for donating to us, We really appreciate the support</h1>

  <%= audio_tag("/assets/audios/Money In The Bank, Pimpin' Ain't Easy.mp3", autoplay: true, controls: true) %>
<br />
  <%= image_tag("/assets/images/hey-youre-awesome-1791-1232679844-0.jpg") %>
  <%= image_tag("/assets/images/money-coming-out-of-computer.jpg") %>
</div>
