/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
}

html {
    min-height: 100%;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #f9f9f9;
    min-height: 100%;
}

h1 {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

::selection {
    background: purple;
    color: white;
}

#nav {
    background: #00B2EE;
}

#nav li {
    background: #00B2EE;
}

#nav a {
    background: #00B2EE;
}

#jumbo {
    width: 100%;
    background-color: black;
}

#picture {
    background-color: black;
    width: 760px;
    height: 460px;
    background-image: url("/assets/images/newFinger.png");
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.rift {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#picture h1 {
    margin: 0;
    color: #00B2EE;
    text-shadow: 1px 1px 12px #000000;
}

#twokinds {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
}

.push {
    height: 48px;
}

#champsDiv {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #e0e0e0;
}

#champsDiv h3 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#champsTitle {
    display: block;
    text-align: center;
    color: #00B2EE;
}

#champs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.champ {
    width: "50px";
    display: inline-block;
    margin-bottom: 10px;
}

.champPic {
    width: 100px;
}

.champName {
    display: block;
    width: 100%;
    text-align: center;
}

a:hover {
    color: purple;
}

#footer {
    height: 48px;
    width: 100%;
    background-color: #00B2EE;
    bottom: 0;
}

#foot {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    bottom: 0;
}

#weatherArea {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 100%;
    border-style: solid;
    border-width: medium;
    border-color: #00B2EE;
    display: inline-block;
    background-color: #e0e0e0;
}

#weatherArea h3 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}

#greatDay {
    color: #32cd32;
}

.splash {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

#checkDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.check {
    display: inline-block;
}

#chartDiv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#chart {
    display: inline-block;
    width: 95%;
    vertical-align: middle;
    margin-bottom: 5px;
}

#chart2 {
    display: inline-block;
    width: 95%;
    vertical-align: middle;
    margin-bottom: 5px;
}

.doughnut-legend {
    display: inline-block;
    list-style-type: none;
    color: #f9f9f9;
}

.doughnut-legend li {
    display: inline;
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.caption {
    text-transform: capitalize;
    padding: 5px;
}

#overallWrapper {
    text-align: center;
}

#overall {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    /*width: 40%;*/
    margin-top: 15px;
}

.chartWrapper {
    vertical-align: middle;
    margin-bottom: 15px;
}

h4 {
    margin-bottom: 0px;
}

.tables {
    display: inline-block;
    text-align: center;
}

tr {
    text-align: center;
}

td {
    text-align: center;
}

.tableWrapper {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.d .n {
    background-color: white;
}

.f {
    background-color: #e0e0e0;
}

#riftWrapper {
    display: block;
    text-align: center;
    width: 100%;
}

#riftInsideWrapper {
    display: inline-block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.rift {
    display: inline-block;
    float: left;
    vertical-align: middle;
}

.overallDescription {
    text-align: center;
    width: 70%;
    float: right;
    vertical-align: middle;
    padding-top: 64.5px;
}

.winner {
    background-color: #00B2EE
}

.overallLink {
    font-size: 18pt;
    font-weight: bold;
}

.donate-button {
    line-height: 45px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

.hidden {
    display: none;
}

.textarea {
    height: auto;
}

/*flash*/

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
}


