/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f9f9f9;
}

h1{
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

::selection{
	background: purple;
	color: white;
}

#nav{
	background: #000067;
}

#nav li{
	background: #000067;
}

#nav a{
	background: #000067;
}


#jumbo{
	width: 100%;
	background-color: black;
}

#picture{
	background-color: black;
	width: 1150px;
	height: 700px;
	background-image: url("/assets/images/finger.png");
	background-repeat: no-repeat;
  	/*background-size: cover;*/
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
}

#picture h1{
	color: #00B2EE;
	text-shadow: 1px 1px 12px #000000;
}

#twokinds{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#foot{
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
}